{% extends 'base.html' %}

{% block title %}SGE - Novo Produto{% endblock %}

{% block content %}

  <div class="container mt-4">
    <h3 class="display-6">Cadastrar Produto</h3>

    <div class="card">
      <div class="card-body">
        <form action="{% url 'product_create' %}" method="post" class="form">
          {% csrf_token %}
          {{ form.as_p }}
          <button type="submit" class="btn btn-primary">Cadastrar</button>
        </form>
      </div>
    </div>

    <a href="{% url 'product_list' %}" class="btn btn-secondary mt-3">Cancelar e Voltar</a>

  </div>

{% endblock %}